<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueueName" value="event_queue"/>
    <add key="HostName" value="localhost"/>
    <add key="ExchangeName" value="direct_event"/>
    <add key="SavePath" value="C:\Users\X1 Group\Desktop"/>
  </appSettings>
</configuration>